[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/colors/start/vim-monokai"]
	path = .vim/pack/colors/start/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
